@font-face {
    font-family: "CeraPro";
    src: url("CeraPro.eot");
    src: url("CeraProd41d.eot?#iefix")format("embedded-opentype"),
    url("CeraPro.woff") format("woff"),
    url("CeraPro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraPro-Bold";
    src: url("CeraPro-Bold.eot");
    src: url("CeraPro-Boldd41d.eot?#iefix")format("embedded-opentype"),
    url("CeraPro-Bold.woff") format("woff"),
    url("CeraPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CeraPro-Medium";
    src: url("CeraPro-Medium.eot");
    src: url("CeraPro-Mediumd41d.eot?#iefix")format("embedded-opentype"),
    url("CeraPro-Medium.woff") format("woff"),
    url("CeraPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}