@media only screen and (max-width : 1200px) {
	.s_form .bg_vrBox{
		width: 650px;
		height: 370px;
		top: -420px;
	}
	.s_howWork ul{
		margin-left: 0;
	}
	.s_howWork li{
		padding-left: 100px;
	}
	.s_howWork li br{
		display: none;
	}
	.s_howWork .video {
		margin-top: 70px;
	}
	.s_howWork .video iframe{
		width: 400px;
		height: 230px;
	}
	.s_apps .item{
		max-width: 220px;
		font-size: 17px;
	}
	.s_katalog{
		padding: 200px 0;
	}
	.s_stock .bg_img{
		width: 550px;
		height: 386px;
		bottom: 50px;
	}
	.s_order{
		-webkit-background-size: 580px;
		background-size: 580px;
		padding-top: 20px;
	}
	.s_order .wrap{
		margin-top: 0;
	}
	.s_order .item.item7{
		top: 280px;
	}
	.s_12ways .item{
		max-width: 450px;
	}
	.s_comparison .item.title .td, 
	.s_comparison .item.title .td .center{
		width: 280px;
	}
	.s_comparison .td, 
	.s_comparison .td .center{
		width: 133px;
	}
	.s_comparison .td{
		font-size: 17px;
	}
	.s_12ways{
		padding: 100px 0 50px;
	}
}
@media only screen and (max-width : 991px) {
	section{
		margin: 0 !important;
	}
	.bg_cube,
	.s_stock .bg{
		display: none;
	}
	h1{
		margin: 0;
		text-align: center;
	}
	h2{
		font-size: 42px;
	}
	.logo .logo_text{
		display: none;
	}
	.header_main{
		background-image: url(../img/bg/mobile/bg_header.png);
		min-height: 1px;
		padding: 100px 0;
	}
	.header_main p{
		margin: 15px auto;
	}
	.s_form{
		padding: 50px 0 90px;
	}
	.s_form .bg_vrBox{
		position: relative;
		top: 0;
		right: 0;
		width: 305px;
		height: 170px;
		margin: 30px auto 0;
	}
	.s_form form{
		margin-top: -65px;
		left: 0;
		padding-top: 80px;
	}
	.s_form .arrows{
		display: none;
	}
	.s_howWork,
	.s_katalog,
	.s_reviews{
		padding: 50px 0;
		background-image: none;
		background-color: #e9003f;
	}
	.s_howWork .video{
		float: none;
		max-width: 400px;
		margin: 50px auto 0;
	}
	.s_apps .item{
		max-width: 270px;
	}
	.s_stock{
		background-color: #00acd7;
		background-image: url(../img/bg/mobile/bg_stock.png);
		padding: 50px 0;
	}
	.s_stock .wrap{
		margin: 30px auto 0;
	}
	.s_stock .bg_img{
		position: relative;
		bottom: 0;
		left: 0;
		margin: 0 auto;
	}
	.s_stock .arrow{
		display: none;
	}
	.s_order{
		padding: 50px 0;
		background-image: none;
		text-align: center;
	}
	.s_order h2{
		color: #000;
	}
	.s_order .wrap{
	}
	.s_order .left,
	.s_order .right{
		float: none;
		display: inline;
	}
	.s_order .item{
		position: relative;
		top: 0 !important;
		left: 0 !important;
		width: 250px;
		margin-top: 50px;
		padding: 90px 0 0!important;
		display: inline-block;
		transform: translate(0,0)!important;
	}
	.s_order .item .number,
	.s_order .item::before{
		left: 50%!important;
		transform: translate(-50%,0);
	}
	.s_order .item .number{
		margin-left: -30px;
	}
	.s_payment{
		background-image: url(../img/bg/mobile/bg_payment.png);
		min-height: 1px;
		padding: 50px 0;
	}
	.s_reviews{
		padding-bottom: 100px;
	}
	.s_12ways h2 .number{
		font-size: 140px;
	}
	.s_12ways .wrap{
		margin-top: 10px;
	}
	.s_12ways .item{
		margin: 40px auto;
	}
	.s_comparison{
		padding: 50px 0 100px;
	}
	.s_comparison .td{
		font-size: 15px;
		line-height: 1.2em;
	}
	.s_comparison .item.title .td, 
	.s_comparison .item.title .td .center,
	.s_comparison .td, 
	.s_comparison .td .center{
		width: 150px;
	}
	.s_comparison .item.title .td .center{
		padding: 0 10px;
	}
	.s_12ways{
		padding: 50px 0;
	}
}

@media only screen and (max-width : 768px) {
	body{
		font-size: 17px;
	}
	h1{
		font-size: 22px;
	}
	h1 span{
		font-size: 92px;
	}
	h2{
		font-size: 38px;
	}
	.s_form h2{
		font-size: 25px;
	}
	.s_form h2 span span{
		font-size: 30px;
	}
	.s_stock form .price{
		font-size: 55px;
	}
	.s_stock h3{
		font-size: 25px;
	}
	.s_payment .item .price{
		font-size: 26px;
		margin: 10px 0;
	}
	.s_12ways{
		padding: 30px 0;
	}
	.s_12ways .item{
		padding: 80px 0 0;
		text-align: center;
	}
	.s_12ways .item .number,
	.s_12ways .item::before,
	.s_12ways .item h3::before{
		left: 50%;
		transform: translate(-50%,0);
	}
	.s_12ways .item .number{
		margin-left: -30px;
	}
	.s_12ways h2{
		text-align: center;
	}
	.s_12ways h2 .number{
		font-size: 100px;
		line-height: 1em;
		display: block;
		float: none;
	}
}

@media only screen and (max-width : 600px) {
	h1{
		font-size: 19px;
	}
	h1 span{
		font-size: 80px;
	}
	h2{
		font-size: 33px;
	}
	.header_main{
		padding: 80px 0;
	}
	.header_main p{
		font-size: 16px;
		line-height: 1.2em;
	}
	.s_form h2{
		font-size: 22px;
	}
	.s_form h2 span span{
		font-size: 25px;
	}
	.s_form .line{
		max-width: 200px;
		height: 1px;
		margin: 15px auto;
	}
	.s_form .price{
		font-size: 21px;
	}
	.s_stock form .price{
		font-size: 50px;
		margin-bottom: 40px;
	}
	.s_stock h3.bottom{
		margin-top: 20px;
	}
	.s_stock .bg_img{
		width: 300px;
		height: 210px;
		margin-top: 20px;
	}
	.next_button, 
	.prev_button{
		display: none;
	}
	.s_reviews .wrap{
		padding: 0;
	}
	.s_reviews .item{
		max-width: 290px;
		width: 100%;
		margin: 75px 0 0;
		padding: 0 10px;
		font-size: 16px;
	}
	.s_reviews .item::before{
		left: -15px;
	}
	.s_reviews .item::after{
		right: -15px;
	}
	.s_reviews .item img{
		width: 150px;
		height: 150px;
	}
	.owl-controls{
		bottom: -45px;
	}
	.s_12ways h2 .number{
		font-size: 90px;
	}
	.header_top,
	footer{
		padding: 15px 0;
	}
}

@media only screen and (max-width : 480px) {
	h1{
		font-size: 16px;
	}
	h1 span{
		font-size: 66px;
	}
	h2{
		font-size: 27px;
	}
	.header_main p{
		font-size: 14px;
	}
	.logo img{
		width: 100px;
	}
	.callback .phone{
		font-size: 20px;
		margin-bottom: 5px;
	}
	.callback .btn{
		font-size: 14px;
		padding: 7px 10px;
	}
	.s_form form{
		max-width: 300px;
	}
	.s_form form::before{
		height: 30px;
	}
	.s_howWork .video{
		max-width: 300px;
	}
	.s_howWork .video iframe{
		width: 300px;
		height: 170px;
	}
	.s_katalog .wrap{
		margin-top: 10px;
	}
	.s_katalog .item{
		max-width: 300px;
		height: 380px;
		padding-top: 230px;
		margin-top: 30px;
	}
	.s_katalog .item .after{
		font-size: 26px;
	}
	.s_katalog .item::before{
		-webkit-background-size: 750px;
		background-size: 750px;
		width: 250px;
		height: 230px;
	}
	.s_katalog .item.item2::before{
		background-position: -250px 0;
	}
	.s_katalog .item.item3::before{
		background-position: -500px 0;
	}
	.s_stock form .price{
		font-size: 45px;
	}
	.s_reviews .item{
		margin-left: 5px;
		margin-right: 5px;
	}
	.s_reviews .item::before,
	.s_reviews .item::after{
		display: none;
	}
	.footer_bottom{
		text-align: center;
	}
	.footer_bottom .landing{
		float: none;
	}
	.fancybox-close{
		top: 5px;
		right: 5px;
		width: 30px;
		height: 30px;
	}
	.popup{
		padding: 40px 10px;
		width: auto;
		width: 300px;
	}
	.popup h2{
		font-size: 18px;
	}
	.popup h2 span:not(.title),
	.popup h2 span{
		font-size: 22px;
	}
	.popup input:not(.btn){
		height: 40px;
		-webkit-background-size: 20px;
		background-size: 20px;
		background-position: 15px center;
		padding-left: 60px;
	}
	.popup input.btn{
		height: 45px;
	}
	.popup .security{
		font-size: 14px;
		margin-top: 15px;
	}
}
@media only screen and (max-width : 320px) {

}
@media only screen and (min-width : 768px) {

}
@media only screen and (min-width : 992px) {

}
@media only screen and (min-width : 1200px) {
	.container{
		width: 1170px;
		padding: 0;
	}
}
